.showDetails {
    display: none;
}

.bgIndex {
    background-image: url(../img/indexImg.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.registerImg {
    background-image: url(../img/registerImg.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.homePageImg {
    background: url(../img/homePage.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.authorImg {
    background: url(../img/author4.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.genresImg {
    background: url(../img/genres.jpeg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bookstoreImg {
    background: url(../img/bookstore1.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.sendMessageImg {
    background: url(../img/message2.jpeg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.adminImg {
    background: url(../img/admin2.jpeg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



.table-dark {
    background-color: hsl(0, 1%, 21%);
    color: white;
    background-color: rgba(15, 15, 10, .9);
}

.btnIndex {
    color: black;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    border-color: black;
    float: left;
}

.btnIndex:hover {
    background-color: #555555;
    color: white;
}

th {
    align-content: center;
    text-align: center;
}

.h1Header {
    color: #111;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 64px;
    font-weight: 700;
    line-height: 64px;
    margin: 0 0 0;
    padding: 20px 30px;
    text-align: center;
    text-transform: uppercase;
    background-color: rgba(15, 15, 10, .9);
    color: white;
}

.genreHeader {
    color: white;
}

.line {
    border-top: 3px solid #111;
    display: block;
    margin-top: 5px;
    padding-top: 5px;
    position: relative;
}

.formDiv {
    border: 2px solid;
    border-color: black;
    border-radius: 5px;
    width: 600px;
    margin: auto;
    background-color: rgba(15, 15, 10, .5);
    color: white;
}

.bookstoreFormDiv {
    display: inline-flex;
    margin: auto;
    color: white;
    border: 2px;
    border-color: black;
    border-radius: 5px;
    background-color: rgba(15, 15, 10, .5);
    width: 600px;
    position: relative;

}

input[type=text],
input[type=password],
input[type=email],
input[type=url],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    color: black;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

.btnSubmitHomePage {
    position: sticky;
}

#bookDetailsDiv {
    border: 2px solid;
    border-color: black;
    border-radius: 5px;
    width: 600px;
    margin: auto;
    background-color: rgba(15, 15, 10, .5);
    color: white;
}

.homePageShowDiv {
    display: inline-flex;

}

.containerHomePage {
    align-self: auto;
    flex: 1;
}

#bookDetailsDiv {
    float: right;
    align-self: auto;

}

.bookDetailsList {
    border: 1px solid;
    border-color: white;
    border-radius: 5px;
    margin: auto;
    background-color: rgba(15, 15, 10, .5);
    text-align: center;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;

}

.bookDetailsList:hover {
    background-color: rgba(15, 15, 10, .9);
}

#findBooksByTitleDiv {
    float: left;
    align-self: auto;
}

h2 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 64px;
    margin: 0 0 0;
    padding: 20px 30px;
    text-align: center;
    text-transform: uppercase;
    background-color: rgba(15, 15, 10, .9);
    color: white;

}